// {
  // "plugins": [["transform-remove-console", { "exclude": ["error", "warn"] }]]
// }
// module.exports = {
//   presets: [['@babel/preset-env', {targets: {node: 'current'}}]],
// };
//  {
//   "presets":[
//     ["@babel/preset-env", {"targets": {"node": "current"}}],
//     ["@babel/preset-react",{"runtime":"automatic"}]
  
//   ]
  
  
// }
{}